:root {
    --bg-button: #f0f0f0;
    --border-button: solid 1px #888;
}

.Button{
    font-size: 2em;
    background-color: var(--bg-button);
    border: none;
    border-right: var(--border-button);
    border-bottom: var(--border-button);
    outline: none;
    cursor: pointer;
}

.Button:active {
    background-color: #ccc;
}

.double {
    grid-column: span 2;
}

.triple {
    grid-column: span 3;
}

.operation {
    background-color: #fa8231;
    color: white;
}

.operation:active {
    background-color: #fa8231cc;
}
